
.vs/

TaxCRM.API/bin/

TaxCRM.API/obj/

TaxCRM.Application/bin/

TaxCRM.Application/obj/

TaxCRM.DataAccess/bin/

TaxCRM.DataAccess/obj/

TaxCRM.Domain/bin/

TaxCRM.Domain/obj/

TaxCRM.Entities/bin/

TaxCRM.Entities/obj/

TaxCRM.Utils/bin/

TaxCRM.Utils/obj/
